<div class="tw-p-10">
    <div align="right" class="tw-mb-6">
        <a routerLink="/create" class="tw-rounded-sm tw-border tw-border-transparent tw-text-white tw-bg-blue-500 tw-px-5 tw-py-2 hover:tw-text-blue-500 hover:tw-bg-white hover:tw-border-blue-500">Add New Blog</a>
    </div>

    <p *ngIf="blogs.length === 0" class="tw-text-lg tw-font-semibold">No blogs available!</p>

    <div *ngFor="let blog of blogs" class="card tw-p-5 tw-mb-6">
        <p class="tw-font-bold tw-text-2xl tw-capitalize tw-text-blue-500">{{ blog.title }}</p>
        <p [innerHTML]="blog.body"></p>
        <p>{{ blog.createdat }}</p>
        <div>
            <a routerLink="v/{{ blog.id }}" class="tw-block tw-w-fit tw-mt-6 tw-border tw-border-gray-400 tw-px-5 tw-py-1 tw-text-gray-500 hover:tw-bg-blue-500 hover:tw-text-white hover:tw-border-blue-500">Read</a>
        </div>
    </div>
</div>