<div class="tw-p-10 tw-relative">
    <div id="alert-div" class="-tw-translate-y-24 tw-duration-500 tw-w-full tw-z-10" align="center">
        <p id="alert-p" class="tw-px-10 tw-py-2 tw-shadow tw-w-fit tw-rounded-md tw-bg-white"> {{ alertMessage }}  </p>
    </div>

    <div class="tw-mb-10">
        <a routerLink="/" class="tw-flex tw-items-center tw-gap-1">
            <i class="bi bi-chevron-left tw-text-xs"></i>
            Go back
        </a>
    </div>

    <form [formGroup]="blogForm" class="tw-w-3/4 tw-mx-auto" enctype="multipart/form-data">
        <div class="tw-mb-6">
            <label for="title" class="tw-block tw-mb-2 tw-font-semibold">Title<span class="tw-text-red-600 tw-text-sm">*</span></label>
            <input type="text" class="form-control" formControlName="title">
            <p *ngIf="blogForm.get('title').touched && blogForm.get('title').invalid" class="tw-text-red-600">Title is required</p>
        </div>

        <div class="tw-mb-6">
            <label for="formFile" class="tw-block tw-mb-2 tw-font-semibold">Cover Image</label>
            <input class="form-control" type="file" id="formFile" (change)="onFileChanged($event)">
        </div>

        <div class="tw-mb-6">
            <label for="title" class="tw-block tw-mb-2 tw-font-semibold">Blog<span class="tw-text-red-600 tw-text-sm">*</span></label>
            <ckeditor
                [editor]="Editor"
                [config]="{
                    toolbar: {
                        items: ['heading', '|','bold', 'italic', '|', 'undo', 'redo', '|', 'numberedList', 'bulletedList']
                    }
                }"
                formControlName="body">
            </ckeditor>

            <p *ngIf="blogForm.get('body').touched && blogForm.get('body').invalid" class="tw-text-red-600">Blog content is required</p>
        </div>

        <div align="center" class="tw-mt-10">
            <button type="submit" (click)="submit()" class="tw-bg-blue-500 tw-text-white tw-px-10 tw-py-2 tw-rounded-sm hover:tw-bg-blue-700 disabled:tw-bg-blue-300" [disabled]="blogForm.invalid">Submit</button>
        </div>
    </form>
</div>